@page "/ActivitesToDO"
@using WelcomeToLebanonWebPage.Shared
@inject HttpClient Http

<PageTitle>ActivitesToDO</PageTitle>

<h1>ActivitesToDO</h1>

<p>
    1. Explore the historic city of Byblos: Visit ancient ruins, stroll through the charming streets, and enjoy the coastal views.

    2. Relax on the pristine beaches of Batroun or Tyre: Enjoy sunbathing, swimming, and water sports in these coastal towns.

    3. Take a hike in the stunning Kadisha Valley: Enjoy breathtaking landscapes, visit monasteries, and immerse yourself in nature.

    4. Enjoy outdoor activities in the picturesque Chouf Mountains: Go hiking, biking, or simply enjoy a picnic surrounded by scenic beauty.

    5. Visit the Roman ruins of Baalbek: Marvel at the majestic temples and ruins of this UNESCO World Heritage site.

    6. Explore the picturesque vineyards of the Bekaa Valley: Take a wine tour, taste local wines, and enjoy the beautiful surroundings.
</p>

@*@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}*@

@code {
    //private WeatherForecast[]? forecasts;

    //protected override async Task OnInitializedAsync()
    //{
    //    forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    //}
}
