@inject NavigationManager NavigationManager
@page "/Beirut"

<div class="city-page-design">
    <h3>Beirut</h3>
    <div class="city-page-images">
        <img height="198" width="290" src="css/beirut.png" alt="My Image" />
        <img height="198" width="290" src="css/beirutstreer.jpg" alt="My Image" />
        <img height="198" width="290" src="css/beirut1.jpg" alt="My Image" />
    </div>
    <p class="city-page-text">
        Beirut, Lebanon's capital, is a historic city with a blend of cultures. It is one of the oldest inhabited cities globally, showcasing diverse architectural styles. Despite periods of conflict, Beirut has rebuilt into a thriving cultural hub with a vibrant nightlife and renowned culinary scene. It is also home to the prestigious American University of Beirut and boasts a dynamic arts and music scene.
    </p>
    <div class="container-bottun-goback">
        <button class="button-design" @onclick="NavigateToIndex">GO BACK</button>
    </div>
</div>

@code {
    private void NavigateToIndex()
    {
        NavigationManager.NavigateTo("/");
    }
}
