@inject NavigationManager NavigationManager
@page "/Faraya"
<h3>Faraya</h3>
<img height="198" width="290" src="css/faraya1.jpg" alt="My Image" />
<img height="198" width="290" src="css/Faraya2.jpg" alt="My Image" />
<img height="198" width="290" src="css/faraya3.jpg" alt="My Image" />
<p>
    Faraya, nestled in the mountains of Lebanon, is a popular destination for winter sports enthusiasts. Known for its ski resorts, it offers breathtaking slopes and stunning mountain views. Faraya attracts both locals and tourists who come to enjoy skiing, snowboarding, and other winter activities. The city also features cozy chalets, hotels, and restaurants, providing a welcoming atmosphere for visitors. Beyond the winter season, Faraya's picturesque landscapes make it an ideal spot for hiking and enjoying the beauty of Lebanon's mountainous region.
</p>
<button @onclick="NavigateToIndex">GO BACK</button>

@code {
    private void NavigateToIndex()
    {
        NavigationManager.NavigateTo("/");
    }
}
