@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
<img height="198" width="290" src="css/beirutstreer.jpg" alt="My Image"/>
<img height="198" width="290" src="css/Faraya2.jpg" alt="My Image" />
<img height="198" width="290" src="css/byb1.jpg" alt="My Image" />
<img height="198" width="290" src="css/harrisa2.jpg" alt="My Image" />
<img height="198" width="290" src="css/baalbak1.webp" alt="My Image" />

