@inject NavigationManager NavigationManager
@page "/"

<PageTitle>Index</PageTitle>

<h3 class="Beirut_label">BEIRUT</h3>
<h3 class="Faraya_label">FARAYA</h3>
<h3 class="byblos_label">BYBLOS</h3>
<h3 class="Harrissa-label">HARRISSA</h3>
<h3 class="baalbak-label">BAALBAK</h3>


@*<SurveyPrompt Title="How is Blazor working for you?" />*@
<div class="MainCities">
    <img height="198" width="290" src="css/beirutstreer.jpg" alt="My Image" class="Beirut_picture" @onclick="NavigateToNewPage" />
    <img height="198" width="290" src="css/Faraya2.jpg" alt="My Image" class="faraya_picture" @onclick="NavigateToFaraya" />
    <img height="198" width="290" src="css/byb1.jpg" alt="My Image" class="byblos_picture" @onclick="NavigateToByblos" />
    <img height="198" width="290" src="css/harrisa2.jpg" alt="My Image" class="harrissa_picture" @onclick="NavigateToHarrissa" />
    <img height="198" width="290" src="css/baalbak1.webp" alt="My Image" class="baalbak_picture" @onclick="NavigateToBaalbak" />
</div>

@code {
    private void NavigateToNewPage()
    {
        NavigationManager.NavigateTo("/Beirut");
    }
    private void NavigateToFaraya()
    {
        NavigationManager.NavigateTo("/Faraya");
    }
    private void NavigateToByblos()
    {
        NavigationManager.NavigateTo("/Byblos");
    }
    private void NavigateToHarrissa()
    {
        NavigationManager.NavigateTo("/Harrissa");
    }
    private void NavigateToBaalbak()
    {
        NavigationManager.NavigateTo("/Baalbak");
    }
}
