@inject NavigationManager NavigationManager
@page "/MapOfLebanon"
<PageTitle>MapOfLebanon</PageTitle>
<h1>MapOfLebanon</h1>
<img height="400" width="500" src="css/RedLebanon2.png" alt="My Image" />
<p>
    Lebanon shares borders with Syria to the north and east, and Israel to the south. Its western coastline stretches along the Mediterranean Sea. Area of Lebanon is 10452 km2,it is one of the smallest coutnry in middle east.
</p>
<button class="Beirut-circle_button" @onclick="NavigateToNewPage"> hhh  </button>
<button class="Harrisa-circle_button" @onclick="NavigateToHarrissa">hhh</button>
<button class="Faraya-circle_button" @onclick="NavigateToFaraya">hhh</button>
<button class="Baalbak-circle_button" @onclick="NavigateToBaalbak">hhh</button>
<button class="Byblos-circle_button" @onclick="NavigateToByblos">hhh</button>



@code {
    private void NavigateToNewPage()
    {
        NavigationManager.NavigateTo("/Beirut");
    }
    private void NavigateToHarrissa()
    {
        NavigationManager.NavigateTo("/Harrissa");
    }
    private void NavigateToFaraya()
    {
        NavigationManager.NavigateTo("/Faraya");
    }
    private void NavigateToBaalbak()
    {
        NavigationManager.NavigateTo("/Baalbak");
    }
    private void NavigateToByblos()
    {
        NavigationManager.NavigateTo("/Byblos");
    }
}
