@page "/Quiz"
<div class="quiz-design">    
    <div class="container-image-quiz">
        <img height="198" width="290" src="css/Question1.png" alt="My Image" />
        </div>
    
        <p>
            @txtQuestion
        </p>
        <label>Your score: {@correctAnswer}</label>
        <button @onclick="StartGame">start </button>

    
    <div class="container-bottun-quiz">
        <button class="button-design" @onclick="() => checkAnswer(1)">@ans1</button>
        <button class="button-design" @onclick="() => checkAnswer(2)">@ans2</button>
        <button class="button-design" @onclick="() => checkAnswer(3)">@ans3</button>
        <button class="button-design" @onclick="() => checkAnswer(4)">@ans4</button>
    </div>
    

</div>



@*<label>Question number: {@qNum}</label>
<label>I: {@i}</label>
<label>ARRAY:{@stringI}</label>*@

@code {
    private string ans1 { get; set; } = "answer 1";
    private string ans2 { get; set; } = "answer 2";
    private string ans3 { get; set; } = "answer 3";
    private string ans4 { get; set; } = "answer 4";
    private List<int> questionNumbers { get; set; } = new List<int> { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
    private int correctAnswer { get; set; } = 0;
    private string txtQuestion { get; set; } = "Hi welcome to this quiz game and we will be showing lots of different questions and you will click on the answer buttons to answer them.";
    private string stringI { get; set; } = "";
    private int qNum { get; set; } = 0;
    private int i { get; set; } = 1;

    private void NextQuestion()
    {
        if (qNum < questionNumbers.Count)
        {
            List<int> questionNumbers = stringI.Split(',').Select(int.Parse).ToList();
            i = questionNumbers[qNum];
            qNum++;
        }
        switch (i)
        {
            case 1:
                txtQuestion = "What is the population of Lebanon?"; // this the question for the quiz
                ans1 = "2 millions"; // each of the buttons can have their own answers in this game
                ans2 = "4 millions";
                ans3 = "5 millions";
                ans4 = "8 millions";
                @*ans2.Tag= "1"; // here we tell the program which one of the answers above is the right answer by adding the 1 inside of the tag for the button.*@
                // in this example we adding 1 inside of ans2 or button 2
                // so when the button is clicked the game will know which is the correct answer and it add 1 to the score for the game
                //qImage.Source = new BitmapImage(new Uri("cedar 2.png")); // here we will load the 1st image inside of the qimage
                //string abc = "/Images/Quiz/Question1.png";
                //BitmapImage bitmap = new BitmapImage(new Uri("cedar 2.png"));
                //Uri imageUri = new Uri("Images/Quiz/Question1.png");
                @*qImage.Source = new BitmapImage(new Uri("/Question1.png", UriKind.Relative));*@
                break; // when this condition is met the program will break the switch statement here and wait for the next one
                       // rest of the condition will follow the same principle as this one
            case 2:
                txtQuestion = "What is the area of Lebanon?";
                ans1 = "11000 km2";
                ans2 = "7060 km2";
                ans3 = "10452 km2";
                ans4 = "17230 km2";
                @*ans3.Tag = "1";*@
                @*qImage.Source = new BitmapImage(new Uri("/Question2.png", UriKind.Relative));*@
                break;
            case 3:
                txtQuestion = "Lebanon has access to the: ";
                ans1 = "Mediterranean Sea";
                ans2 = "Black sea";
                ans3 = "Red sea";
                ans4 = "Baltic sea";
                @*ans1.Tag = "1";*@
                @*qImage.Source = new BitmapImage(new Uri("/Question3.png", UriKind.Relative));*@
                break;
            case 4:
                txtQuestion = "How many religions The country recognizes:";
                ans1 = "18 religious communities";
                ans2 = "2 religious communities";
                ans3 = "10 religious communities";
                ans4 = "6 religious communities";
                @*ans1.Tag = "1";*@
                @*qImage.Source = new BitmapImage(new Uri("/Question4.png", UriKind.Relative));*@
                break;
            case 5:
                txtQuestion = "What is the capital city of Lebanon?";
                ans1 = "Beirut";
                ans2 = "Tripoli";
                ans3 = "Harrissa";
                ans4 = "Byblos";
                @*ans1.Tag = "1";*@
                @*qImage.Source = new BitmapImage(new Uri("/Question5.png", UriKind.Relative));*@
                break;
            case 6:
                txtQuestion = "how much is the highest mountain in Lebanon?";
                ans1 = "3,088 meters";
                ans2 = "1502 meters";
                ans3 = "6900 meters";
                ans4 = "4532 meters";
                @*ans1.Tag = "1";*@
                @*qImage.Source = new BitmapImage(new Uri("/Question6.png", UriKind.Relative));*@
                break;
            case 7:
                txtQuestion = "What is the type of authority in Lebanon";
                ans1 = "Parliamentary democratic republic";
                ans2 = "Royal";
                ans3 = "Dictatorship";
                ans4 = "Federalism";
                @*ans1.Tag = "1";*@
                @*qImage.Source = new BitmapImage(new Uri("/Question7.png", UriKind.Relative));*@
                break;
            case 8:
                txtQuestion = "In what year Lebanon got its independence ";
                ans1 = "1943";
                ans2 = "1990";
                ans3 = "2000";
                ans4 = "1955";
                @*ans1.Tag = "1";*@
                @*qImage.Source = new BitmapImage(new Uri("/Question8.jpg", UriKind.Relative));*@
                break;
            case 9:
                txtQuestion = "What is main language in lebanon";
                ans1 = "Arabic";
                ans2 = "Aramic";
                ans3 = "Persian";
                ans4 = "Hebrew";
                @*ans1.Tag = "1";*@
                @*qImage.Source = new BitmapImage(new Uri("/Question9.jpg", UriKind.Relative));*@
                break;
            case 10:
                txtQuestion = "When was the city of Byblos founded?";
                ans1 = "1500 years ago";
                ans2 = "2300 years ago";
                ans3 = "3800 years ago";
                ans4 = "5000 years ago";
                @*ans4.Tag = "1";*@
                @*qImage.Source = new BitmapImage(new Uri("/Question10.jpg", UriKind.Relative));*@
                break;
        }
    }
    private void StartGame()
    {
        // this is the start game function
        // inside of this function we will randomise the questions list and save it back into the list 
        // create a new randomlist variable and use the line below to randomise the order of the content
        var randomList = questionNumbers.OrderBy(a => Guid.NewGuid()).ToList();
        // save the random list to the question numbers list again
        questionNumbers = randomList;
        // empty the question order label on the canvas
        //questionOrder.Content = null;
        // run a for loop to add the value which will display the randomised list to the display so we can see how the list has been ramdomised
        for (int i = 0; i < questionNumbers.Count; i++)
        {
            stringI = string.Join(",", questionNumbers);
        }
        NextQuestion();
    }
    private void checkAnswer(int buttonNumber)
    {
        if (questionNumbers.Count < 11)
        {
            switch (buttonNumber)
            {
                case 1:
                    if (i == 3 || i == 4 || i == 5 || i == 6 || i == 7 || i == 8 || i == 9) correctAnswer++;
                    break;
                case 2:
                    if (i == 1) correctAnswer++;
                    break;
                case 3:
                    if (i == 2) correctAnswer++;
                    break;
                case 4:
                    if (i == 10) correctAnswer++;
                    break;
            }
        }
        NextQuestion();
    }
}
